/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-800 text-gray-200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-light {
  @apply text-blue-800 no-underline hover:underline hover:text-blue-600;
}

.link-dark {
  @apply text-blue-300 no-underline hover:underline hover:text-blue-500;
}
