---
---

<div
  id="about"
  class="flex flex-col items-center min-h-screen justify-center cursor-default relative"
>
  <div class="max-w-md md:max-w-2xl text-lg p-4">
    <h2 class="text-xl font-bold mt-4">Credits</h2>
    <p>
      Built by
      <a href="https://twitter.com/t3dotgg" class="link-dark">Theo</a>,
      <a href="https://mark.florkow.ski" class="link-dark">Mark</a>
      and
      <a href="https://github.com/JasonDocton" class="link-dark">Jason</a>.
    </p>
    <p>
      Hosted on
      <a href="https://vercel.com" class="link-dark">Vercel</a>.
    </p>
    <p>
      Source available on
      <a href="https://github.com/TheoBr/init.tips" class="link-dark">
        Github</a
      >.
    </p>
  </div>
  <div class="absolute bottom-0 w-full flex justify-center p-4">
    <a href="#">^</a>
  </div>
</div>
