---
---

<div
  id="why"
  class="flex flex-col items-center min-h-screen justify-center cursor-default relative bg-gray-300 text-gray-700"
>
  <div class="max-w-md md:max-w-2xl text-lg px-4 pt-10 pb-20 lg:pb-10">
    <h2 class="text-xl font-bold mt-4">
      Why{" "}
      <a
        class="hover:underline hover:decoration-line-light"
        href="https://www.typescriptlang.org/"
        target="_blank"
        rel="noreferrer"
      >
        TypeScript</a
      >?
    </h2>
    <p>JavaScript is hard. Why add more rules?</p>
    <p>
      We firmly believe the experience{" "}
      <a
        target="_blank"
        rel="noreferrer"
        href="https://www.typescriptlang.org/"
        class="link-light"
      >
        TypeScript
      </a>{" "}
      provides will{" "}
      <span class="italic">help you be a better developer,</span>{" "}
      regardless of where you are in your career as an engineer. Whether you’re new
      to web development or a seasoned pro, the “strictness” of TypeScript will provide
      a less frustrating, more consistent experience than vanilla JavaScript.
    </p>

    <div class="p-4"></div>

    <h2 class="text-xl font-bold">
      Why{" "}
      <a
        class="hover:underline hover:decoration-line-light"
        href="https://nextjs.org/"
        target="_blank"
        rel="noreferrer"
      >
        Next.js</a
      >?
    </h2>
    <p>
      We love React. It has made UI development accessible in ways we never
      imagined before. It also can lead developers down some rough paths.
    </p>
    <p>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://nextjs.org/"
        class="link-light"
      >
        Next.js
      </a>{" "}
      offers a lightly opinionated, heavily optimized approach to creating a website
      using React. From routing to API definitions to image rendering, we trust Next.js
      to lead developers towards good decisions.
    </p>

    <div class="p-4"></div>

    <h2 class="text-xl font-bold">Why tRPC/Prisma/Tailwind/etc.?</h2>
    <p>
      While we believe in keeping things as simple as possible, we find these
      pieces being used in every “app” like project we build.{" "}
      <a class="link-light" href="https://create.t3.gg"> create-t3-app </a>{" "}
      does a great job of letting you adopt{" "}
      <a href="/others">the pieces you need</a>
    </p>
    <p class="link-light">
      <a href="/others">
        Here are some recommendations for when things get more complex
      </a>
    </p>
  </div>
  <div class="absolute bottom-0 w-full flex justify-center p-4">
    <a href="#about">About</a>
  </div>
</div>
